anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
Babel 
backcall 
beautifulsoup4 
bleach 
Brotli 
brotlipy==0.7.0
certifi==2022.9.24
cffi 
charset-normalizer 
click 
cryptography 
dash 
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
Flask 
Flask-Compress
flit_core
gunicorn==20.1.0
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
itsdangerous 
jedi 
Jinja2 
json5 
jsonschema 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
lxml 
MarkupSafe 
matplotlib-inline
mistune 
nbclassic 
nbclient
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numpy==1.23.5
packaging 
pandas==1.5.2
pandocfilters 
parso
patsy==0.5.3
pexpect 
pickleshare 
plotly 
plotly-express==0.4.1
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks
python-dateutil 
pytz 
pyzmq 
requests 
scipy==1.9.3
Send2Trash 
six 
sniffio 
soupsieve 
stack-data 
statsmodels==0.13.5
tenacity 
terminado
tinycss2 
tomli 
tornado 
traitlets
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client 
Werkzeug
zipp
